@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
    --light-color: #ffffff;
    --accent-color: #db4c3b;
    --dark-color: #292929;
}

* {
    font-family: 'Mulish', sans-serif;
}