@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
    --light-theme-color: var(--light-color);
    --light-theme-transparent-color: var(--light-transparent-color);
    --dark-theme-color: var(--dark-color);
    --dark-theme-transparent-color: var(--dark-transparent-color);

    --shadow-theme-color: var(--light-shadow-color);
}

:root:not(.light).dark {
    --light-theme-color: var(--dark-color);
    --light-theme-transparent-color: var(--dark-transparent-color);
    --dark-theme-color: var(--light-color);
    --dark-theme-transparent-color: var(--light-transparent-color);

    --shadow-theme-color: var(--dark-shadow-color);
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --light-theme-color: var(--dark-color);
        --light-theme-transparent-color: var(--dark-transparent-color);
        --dark-theme-color: var(--light-color);
        --dark-theme-transparent-color: var(--light-transparent-color);

        --shadow-theme-color: var(--dark-shadow-color);
    }
}

* {
    font-family: 'Mulish', sans-serif;

    color: var(--dark-theme-color);
}

::selection {
    background-color: var(--accent-color) !important;
    color: var(--light-color) !important;
}

body {
    background-color: var(--light-theme-color) !important;
}

/*
    Background
*/
.bg-white,
.bg-light {
    background-color: var(--light-theme-color) !important;
}

/*
    Link
*/
a.focus,
a:focus {
    background-color: initial !important;

    outline: none !important;

    box-shadow: none !important;

    color: var(--dark-theme-color) !important;

    text-decoration: underline !important;
}

/*
    Icon
*/
.icon,
.icon::before,
.icon::after {
    color: inherit !important;
}

/*
    Navbar
*/
.navbar {
    border: 0 !important;

    background-color: var(--accent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.navbar *:focus {
    text-decoration: none !important;
}

.navbar .btn {
    box-shadow: none !important;
}

.navbar .btn[data-action="toggle-drawer"] {
    aspect-ratio: 1 / 1 !important;

    border: 0 !important;
    border-radius: 1em !important;

    background-color: transparent !important;

    transition: 0.1s ease-in-out background-color, 0.1s ease-in-out color, 0.1s ease-in-out box-shadow;
}

.navbar .btn[data-action="toggle-drawer"] * {
    transition: 0.1s ease-in-out color;
}

.navbar .btn[data-action="toggle-drawer"]:focus,
.navbar .btn[data-action="toggle-drawer"]:hover,
.navbar .btn[data-action="toggle-drawer"].active,
.navbar .btn[data-action="toggle-drawer"]:active {
    background-color: var(--light-color) !important;

    color: var(--dark-color) !important;

    outline: none !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

:is(.navbar .btn[data-action="toggle-drawer"]:focus,
    .navbar .btn[data-action="toggle-drawer"]:hover,
    .navbar .btn[data-action="toggle-drawer"].active,
    .navbar .btn[data-action="toggle-drawer"]:active) *,
.navbar .dropdown-item * {
    color: inherit !important;
}

.navbar *,
.navbar ul:first-of-type *::before,
.navbar ul:first-of-type *::after {
    color: var(--light-color) !important;
}

.navbar .usermenu .icon,
.navbar-dark a .icon {
    color: inherit !important;
}

.navbar .dropdown-item:hover {
    color: var(--light-color) !important;
}

.navbar .notification a {
    color: var(--dark-theme-color) !important;
}

/*
    Progress bar
*/
.progress {
    height: 0.75em !important;

    border: 0 !important;
    border-radius: 0.375em !important;

    background-color: var(--light-color) !important;

    outline: var(--light-color) solid 0.175em !important;
}

.progress+.small {
    margin-top: 0.5em;
}

.progress-bar {
    background-color: var(--accent-color) !important;
}

/*
    Button
*/
.btn {
    border: 0 !important;
    border-radius: 1em !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.btn:focus {
    outline: var(--accent-color) solid 0.15em !important;

    box-shadow: none !important;
}

/*
    Button primary
*/
.btn-primary {
    background-color: var(--accent-color) !important;

    color: var(--light-color) !important;

    text-decoration: none !important;
}

.btn-primary * {
    color: var(--light-color) !important;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: var(--light-theme-color) !important;

    color: var(--dark-theme-color) !important;

    text-decoration: none !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.btn-primary:active *,
.btn-primary:focus * {
    color: var(--dark-theme-color) !important;
}

/*
    Button secondary
*/
.btn-secondary {
    background-color: var(--dark-theme-color) !important;

    color: var(--light-theme-color) !important;

    text-decoration: none !important;
}

.btn-secondary * {
    color: var(--light-theme-color) !important;
}

.btn-secondary:active,
.btn-secondary:focus {
    background-color: var(--light-theme-color) !important;

    color: var(--dark-theme-color) !important;

    text-decoration: none !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.btn-secondary:active *,
.btn-secondary:focus * {
    color: var(--dark-theme-color) !important;
}

/*
    Button outline secondary
*/
.btn-outline-secondary {
    background-color: var(--light-theme-color) !important;

    color: var(--dark-theme-color) !important;

    transition: 0.1s ease-in-out box-shadow;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    color: var(--dark-theme-color) !important;

    outline: var(--accent-theme-color) solid 0.15em !important;

    box-shadow: none !important;
}

.btn-outline-secondary:hover {
    color: var(--dark-theme-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

/*
    Dropdown
*/
.dropdown-toggle {
    border: 0 !important;
    border-radius: 1em !important;

    box-shadow: none !important;
}

.dropdown-toggle:focus {
    text-decoration: none !important;
}

.dropdown-menu {
    flex-direction: column !important;
    gap: 0.2em !important;

    padding: 0 !important;

    border: 0 !important;
    border-radius: 1em !important;

    background-color: var(--light-theme-transparent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    backdrop-filter: blur(0.4em) !important;
}

.dropdown-menu.show {
    display: flex !important;
}

.dropdown-divider {
    border-width: 0.1em !important;
    border-color: var(--dark-theme-transparent-color) !important;

    backdrop-filter: blur(0.4em) !important;
}

.dropdown-item {
    border-radius: 1em !important;

    font-weight: bold !important;

    color: var(--dark-theme-color) !important;
    line-height: 2.5em !important;

    transition: 0.1s ease-in-out background-color, 0.1s ease-in-out color;
}

.dropdown-item.active,
.dropdown-item.focus,
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:focus-within {
    background-color: var(--accent-color) !important;

    color: var(--light-color) !important;

    text-decoration: none !important;
}

:is(.dropdown-item.active,
    .dropdown-item.focus,
    .dropdown-item:hover,
    .dropdown-item:active,
    .dropdown-item:focus,
    .dropdown-item:focus-within) a {
    text-decoration: none !important;
}

.dropdown-item * {
    color: inherit !important;

    transition: 0.1s ease-in-out color;
}

/*
    List group
*/
.list-group-item {
    margin: 0.5em 0 !important;

    border: 0 !important;
    border-radius: 1em !important;

    background-color: var(--light-theme-color) !important;

    color: var(--dark-theme-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    transition: 0.1s ease-in-out background-color, 0.1s ease-in-out color;
}

.list-group-item.active,
.list-group-item:active,
.list-group-item:hover {
    background-color: var(--accent-color) !important;

    color: var(--light-color) !important;
    text-decoration: none !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.list-group-item * {
    color: var(--dark-theme-color) !important;

    transition: 0.1s ease-in-out color;
}

:is(.list-group-item.active,
    .list-group-item:active,
    .list-group-item:hover) * {
    color: inherit !important;
}

.list-group-item:focus {
    text-decoration: none !important;

    outline: var(--accent-color) solid 0.15em !important;
}

/*
    Input group
*/
.input-group {
    border-radius: 1em !important;

    background-color: var(--light-theme-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.input-group :is(.btn, input) {
    box-shadow: none !important;
}

.input-group * {
    border: 0 !important;
    border-radius: 1em !important;

    background-color: transparent !important;

    color: var(--dark-theme-color) !important;
}

/*
    Form control
*/
.form-control,
.custom-select {
    border: 0 !important;
    border-radius: 1em !important;

    background-color: var(--light-theme-color) !important;

    color: var(--dark-theme-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.form-control:read-only {
    color: var(--accent-color) !important;
}

.form-control:focus,
.custom-select:focus {
    outline: var(--accent-color) solid 0.15em !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

/*
    Card
*/
.card {
    border: 0 !important;
    border-radius: 1em !important;

    background-color: transparent !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.card-header {
    border: 0 !important;
    border-radius: 1em !important;

    background-color: var(--accent-color) !important;
}

.card-header * {
    color: var(--light-color) !important;
}

/*
    Section
*/
section {
    border: 0 !important;

    overflow: visible !important;
}

/*
    Nav drawer
*/
#nav-drawer {
    background-color: var(--light-theme-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

/*
    Page
*/
#page {
    background-color: var(--light-theme-color) !important;
}

/*
    Page footer
*/
footer#page-footer {
    border: 0 !important;

    background-color: var(--dark-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

footer#page-footer * {
    color: var(--light-color) !important;
}

footer#page-footer a {
    color: var(--accent-color) !important;
}

/*
    Searchform navbar
*/
#searchform-navbar {
    background-color: transparent !important;
}

/*
    Popover region
*/
.popover-region-container {
    border: 0 !important;

    background-color: var(--light-theme-transparent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    backdrop-filter: blur(0.4em) !important;
}

.popover-region-container * {
    color: var(--dark-theme-color) !important;
}

.popover-region-container>div:first-child,
.popover-region-container>a>div {
    border-width: 0.1em !important;
    border-color: var(--dark-theme-transparent-color) !important;

    background-color: transparent !important;
}

#nav-notification-popover-container .popover-region-toggle::after {
    display: none !important;
}

/*
    Forum Post
*/
.forumpost {
    border: none !important;
    border-radius: 1em !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.forumpost .no-overflow {
    overflow: visible !important;
}

/*
    Popover
*/
[data-toggle="popover"] {
    display: block !important;

    height: 1.5em !important;
    width: 1.5em !important;
}

[data-toggle="popover"] i {
    height: inherit !important;
    width: inherit !important;
}

[data-toggle="popover"] i::before {
    color: var(--dark-theme-color) !important;
}

.popover {
    border: none !important;
    border-radius: 1em !important;

    background-color: var(--light-theme-transparent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    backdrop-filter: blur(0.7em) !important;
}

.popover .popover-body {
    background-color: transparent !important;
}

.popover .arrow:before,
.popover .arrow:after {
    border: none !important;
}

/*
    Message
*/
[data-region="message-drawer"],
[data-region="right-hand-drawer"] {
    background-color: transparent !important;
}

[data-region="message-drawer"],
[data-region="emoji-picker-container"] {
    background-color: var(--light-theme-transparent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    backdrop-filter: blur(0.4em) !important;
}

[data-region="message"] {
    background-color: var(--light-theme-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    filter: none !important;
}

[data-region="message"] .tail {
    display: none !important;
}

[data-region="view-overview"] [data-region^="view-overview"] {
    box-shadow: none !important;
}

[data-region="view-contacts"] .nav-item {
    background-color: transparent !important;
}

[data-region="view-contacts"] .nav-item a {
    text-decoration: none !important;
}

[data-region="view-contacts"] .nav-item a.active {
    border-radius: 1em !important;

    background-color: var(--accent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

[data-region="view-conversation"] .btn {
    background-color: var(--light-theme-color) !important;
}

/*
    Region Main
*/
#region-main {
    background-color: transparent !important;
}

/*
    Table
*/
:is(td, th):not([bgcolor]) {
    background-color: transparent !important;
}

:is(td, th)[bgcolor] {
    color: var(--dark-color) !important;
}

:is(td, th) * {
    color: inherit !important;
}

/*
    Colored span
*/
span[style~="background-color:"] {
    color: var(--dark-color) !important;
}

span[style~="background-color:"] * {
    color: inherit !important;
}

/*
    Moodle dialogue
*/
.moodle-dialogue-content {
    border: none !important;
    border-radius: 1em !important;

    background-color: var(--light-theme-transparent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    backdrop-filter: blur(0.4em) !important;
}

.closebutton:after {
    color: var(--dark-theme-color) !important;
}

/*
    Theme selector
*/
footer#page-footer #theme_selector,
footer#page-footer #theme_selector * {
    color: var(--dark-theme-color) !important;
}

#theme_selector {
    margin-left: 0.5em;
}

#theme_selector_container svg {
    height: 1.5em;

    margin-right: 0.5em;

    fill: var(--light-color);
}

/*

    Modal

*/
.modal-dialog,
.modal-dialog .close {
    border-radius: 1em !important;
}

.modal-dialog:focus,
.modal-dialog .close:focus {
    outline: var(--accent-color) solid 0.15em !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;
}

.modal-content {
    border: none !important;
    border-radius: 1em !important;

    background-color: var(--light-theme-transparent-color) !important;

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--shadow-theme-color) !important;

    backdrop-filter: blur(0.4em) !important;
}