@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/*
    Progress bar
*/
.progress {
    height: 0.75em;

    border: 0 !important;
    border-radius: 0.375em;

    background-color: var(--light-color);
}

.progress-bar {
    background-color: var(--accent-color);
}

/*
    Button outline secondary
*/
.btn-outline-secondary {
    background-color: var(--light-color) !important;

    color: var(--dark-color) !important;

    transition: 0.1s ease-in-out box-shadow;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    color: var(--dark-color);

    outline: var(--accent-color) solid 0.15em !important;

    box-shadow: none;
}

.btn-outline-secondary:hover {
    color: var(--dark-color);

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--dark-color);
}

/*
    Dropdown
*/
.dropdown-toggle {
    border: 0;
    border-radius: 1em;

    box-shadow: none;
}

.dropdown-menu {
    padding: 0;

    border: 0;
    border-radius: 1em;

    background-color: var(--light-color);

    box-shadow: 0.1em 0.1em 0.6em -0.45em var(--dark-color);
}

.dropdown-divider {
    border-width: 0.15em;
    border-color: var(--dark-color);
}

.dropdown-item {
    border-radius: 1em;

    color: var(--dark-color) !important;
    line-height: 2.5em;
}

.dropdown-item.active, .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:focus-within {
    background-color: var(--accent-color);

    color: var(--light-color) !important;
}